.bordCell {
  position: relative;
  width: 4vw;
  height: 4vw;
}

.tetromino.ghost {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-image: none;
  border-radius: 4px 4px;
}

.tetromino.ghost .sparkle {
  opacity: 0;
}

.tetromino__i {
  background-image: url('/public/amongus_blue.png');
  background-size: cover;
}
.tetromino__j {
  background-image: url('/public/amongus_cyan.png');
  background-size: cover;
}
.tetromino__l {
  background-image: url('/public/amongus_lime.png');
  background-size: cover;
}
.tetromino__o {
  background-image: url('/public/amongus_orange.png');
  background-size: cover;
}
.tetromino__s {
  background-image: url('/public/amongus_pink.png');
  background-size: cover;
}
.tetromino__t {
  background-image: url('/public/amongus_red.png');
  background-size: cover;
}
.tetromino__z {
  background-image: url('/public/amongus_white.png');
  background-size: cover;
}
