.board {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2em auto;
  display: grid;
  row-gap: 2px;
  column-gap: 2px;
  width: 45vw;
  height: 90vh;
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  animation: glow 1s ease-in-out infinite alternate;
  
}
@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  };
}