@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.board {
  position: relative;
  width: 80%;
  display: grid;
  row-gap: 2px;
  column-gap: 2px;
  border: 2px solid white;
  border-radius: 10px;
  background: black;
  z-index: 10000;
  &.browser {
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  };
}
.lvlUp {
  width: 100%;
  height: 100%;
  top: 50%;
  position: absolute;
  text-align: center;
 margin: auto;
  font-size: 4em;
  text-align: center;
  color: black;
  font-weight: 700;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
p {
  position: relative;
  font-family: neon;
  color: #FB4264;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
  z-index: 10000;
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}